* text=auto

*.cpp text
*.c text
*.h text

*.java text
*.md text

LICENSE text

*.bat text eol=crlf
*.group text eol=crlf
*.rc text eol=crlf
*.txt text eol=crlf

*.png binary
*.ico binary
*.xcf binary
